:global {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contents_wrapper {
  width: 100%;
  padding: 8px;
}

.loading_detector {
  height: 20px;
}
